/*ヘッダー / グローバルナビゲーション*/
.header{
    width: 100%;
    padding: 30px 4% 10px;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    ul{
        list-style: none;
        margin: 0;
        display: flex;
    }
    li{
        margin: 0 0 0 15px;
        font-size: 16px;
    }
    nav{
        margin: 0 auto;
    }
}

/*コンテンツ全般*/
.content_wrap{
    /*メインビジュアル*/
    .main_visual{
        .logo_img{
            margin-top: 50px;
            width: 100%;
            height: auto;
        }
    }
    /*大会結果*/
}