@charset "UTF-8";


.catch {
    text-align: center;
    margin: 75px 50px;
}

.CM01 {
  margin-top: 75px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
  line-height: 100px;
  width:80%;
  height:100px;
  color:#fff;
  background-color:#000
}
.CM02 {
    margin-top: 75px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    line-height: 400px;
    width:80%;
    height:400px;
    color:#fff;
    background-color:#000
}

.CM03 {
    margin-top: 75px;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    line-height:400px;
    width:80%;
    height:400px;
    color:#fff;
    background-color:#000
}
